@font-face {
  font-family: 'Plus_Jakarta_Sans';
  src: url('fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf');
}

@font-face {
  font-family: 'JejuGothic';
  src: url('fonts/JejuGothic/JejuGothic-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/static/Inter-Regular.ttf');
}

/* .bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
  background-color: transparent !important;
}

.navbar-brand {
  font-family: 'Ubuntu-Regular';
  font-size: 18px !important;
  font-weight: bold;
  color: #17223b !important;
}

a.nav-link {
  font-family: 'JejuGothic' !important;
  font-weight: 400 !important;
}

.navbar-nav {
  --bs-nav-link-color: black !important;
  font-size: 14px;
} */

.navbar-custom {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: 'Ubuntu-Regular';
  font-size: 18px;
  font-weight: bold;
  color: #17223b;
  transition: all 0.3s ease;
}

.navbar-brand:hover {
  color: #3cdbc0;
}

.navbar-links .nav-link {
  font-family: 'JejuGothic';
  font-weight: 400;
  font-size: 14px;
  color: #555;
  transition: all 0.3s ease;
}

.navbar-links .nav-link.active {
  color: #3cdbc0;
  font-weight: bold;
}

.navbar-links .nav-link:hover {
  color: #3cdbc0;
}

.navbar-toggler {
  border: none;
  padding: 8px 10px;
  transition: all 0.3s ease;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.container.d-flex.justify-content-center.align-items-center.text-center {
  width: 60%;
}

.intro {
  height: 380px;
  background-color: #f8f9fa;
  margin-top: 58px;
}

p.Perkenalan {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  /* margin-bottom: 20px; */
}

.bidang {
  font-family: 'Ubuntu-Regular';
  font-weight: bold;
  color: #3cdbc0;
  padding-bottom: 12px;
  font-size: 48px;
  color: #3cdbc0;
}

p.deskpripsi {
  font-family: 'Inter';
  color: #555;
  font-size: 18px;
}

.btn-download {
  max-width: 200px !important; /* Atur lebar maksimum sesuai preferensi Anda */
  display: block;
  margin: 0 auto;
}

.judul h2 {
  font-family: 'Ubuntu-Regular';
  font-weight: 600;
  color: #3cdbc0;
}

p.card-text {
  text-align: justify;
}

.card-img,
.card-img-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.card {
  --bs-card-border-color: none !important;
  --bs-card-border-radius: 15px !important;
}

.cardProject .card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.showmore .btn-primary.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3cdbc0;
  --bs-btn-border-color: #3cdbc0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3cdbc0;
  --bs-btn-hover-border-color: #3cdbc0;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3cdbc0;
  --bs-btn-active-border-color: #3cdbc0;
}

.cardProject .show-more {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.cardProject.show-more .show-more {
  max-height: 1000px; /* Nilai maksimum yang cukup besar */
}

.about-section {
  /* padding: 80px 0; */
  background-color: #f9f9f9;
}

.section-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #3cdbc0;
  margin-bottom: 40px;
  /* text-transform: uppercase; */
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-text {
  flex: 1 1 400px;
  margin-right: 40px;
}

.about-subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #17223b;
  margin-bottom: 20px;
}

.about-image {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.about-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 219, 192, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.about-image:hover img {
  transform: scale(1.1);
}

.about-image:hover::before {
  opacity: 1;
}

.contact-form {
  background-color: #f8f9fa !important;
  padding: 30px !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.form-control {
  border-radius: 10px !important;
  background-color: #fff !important;
  color: #555 !important;
  border: none;
  box-shadow: none;
  padding: 10px 15px !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #3cdbc0 !important;
}

.form-label {
  font-family: 'Ubuntu-Regular' !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #555 !important;
  margin-bottom: 5px !important;
}

textarea.form-control {
  resize: none !important;
}

.btn-primary {
  background-color: #3cdbc0 !important;
  border: none !important;
  border-radius: 10px !important;
  font-family: 'Ubuntu-Regular' !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #fff !important;
  padding: 12px 24px !important;
  transition: background-color 0.3s ease !important;
  margin-top: 10px !important;
}

.btn-primary:hover {
  background-color: #34b0a6 !important;
}

@media (max-width: 767px) {
  .contact-form {
    padding: 20px;
  }

  .section-title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .about-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-text {
    flex: 1 1 330px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .about-image {
    margin: 0 auto 20px;
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    height: 460px;
  }
  .navbar-toggler {
    border: none !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  a.nav-link {
    font-family: 'JejuGothic' !important;
    font-weight: 400 !important;
  }
  .container.d-flex.justify-content-center.align-items-center.text-center {
    width: 100%;
  }
}
